input[type=file] {
    display: inline;
}
.barra-formulario{
	border-radius: 0px 0px 5px 5px;
	margin-top: -1px;
}
.panel-historial, 
.panel-respuesta,
.barra-formulario,
.alerta{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.mayuscula{
	text-transform: uppercase;
}